In [2]:
import pandas as pd
import pandas as pd
import matplotlib.pyplot as plt

import seaborn as sns

In [6]:
pokemon = pd.read_csv('pokemon_data.csv')

In [7]:
pokemon

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

## Discussion 


#### 1. What is a dataframe?
A data frame is another name for table

#### 2. What information can we obtain about a dataframe?
indices, column names, column value types, shape

#### 3. How have we interacted with a dataframe?
add/drop/rename columns, mask, filter, value_sort

In [8]:
##1
pokemon

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [15]:
pokemon.dtypes #question 2

#              int64
Name          object
Type 1        object
Type 2        object
HP             int64
Attack         int64
Defense        int64
Sp. Atk        int64
Sp. Def        int64
Speed          int64
Generation     int64
Legendary       bool
dtype: object

In [16]:
pokemon.info() #question 2

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   HP          800 non-null    int64
 5   Attack      800 non-null    int64
 6   Defense     800 non-null    int64
 7   Sp. Atk     800 non-null    int64
 8   Sp. Def     800 non-null    int64
 9   Speed       800 non-null    int64
 10  Generation  800 non-null    int64
 11  Legendary   800 non-null    bool
dtypes: bool(1), int64(8), object(3)
memory usage: 69.7+ KB

In [17]:
pokemon.describe() #question 2

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [18]:
pokemon.shape #question 2

(800, 12)

## Highest and lowest values

In [23]:
pokemon.HP.max()

255

# question 1: highest hp is 255

In [25]:
pokemon[pokemon['HP'] == 255]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
261,242,Blissey,Normal,NaN,255,10,10,75,135,55,2,False

 # question 2: Blissey has the highest HP value

In [32]:
pokemon['Type 1'].nunique()

721

## Question 3: There are 18 unique Type 1s

In [33]:
ghost = pokemon[pokemon['Type 2'] == 'Ghost']

In [34]:
ghost['#'].nunique()

12

# Question 4: there are 12 pokemon with Type 2 Ghost

In [35]:
pokemon['#'].nunique()

721

In [37]:
(12/721) * 100

1.6643550624133148

# Question 5: 1.66% of pokemon have Type 2 Ghost

In [38]:
more_attack = pokemon[pokemon['Attack'] > pokemon['Defense']]

In [39]:
more_attack['#'].nunique()

397

# Question 6: 397 pokemon have higher attack than defense

In [43]:
pokemon['Total'] = (pokemon['HP']\
                    + pokemon['Attack']\
                    + pokemon['Defense']\
                    + pokemon['Sp. Atk'] + \
                    pokemon['Sp. Def'] + pokemon['Speed'])

In [44]:
type2 = pokemon[pokemon['Type 2'] == 'Psychic']

In [46]:
type2.Total.max()

700

 ## Question 7: Highest total value of Psychic Type 2

In [65]:

grass_or_rock = pokemon[(pokemon['Type 1'] == 'Grass') | \
                        (pokemon['Type 1'] == 'Rock')]

In [67]:
grass_or_rock.Speed.min()

10

## Question 8: Lowest Speed for Grass or Rock

In [68]:
pokemon.groupby('Generation').Speed.agg(['mean'])

                 mean
Generation
1           72.584337
2           61.811321
3           66.925000
4           71.338843
5           68.078788
6           66.439024

## Question 9: above DF calculates average speed by gen

In [70]:
pokemon.columns= pokemon.columns.str.lower()

In [71]:
pokemon

,#,name,type 1,type 2,hp,attack,defense,sp. atk,sp. def,speed,generation,legendary,total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,600
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,700
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,600
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,680
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,600

 ## Question 10: lowercase all column names

In [73]:
pokemon.rename(columns =\
               {'sp. def': 'special defense', 'sp. atk': 'special attack'})

,#,name,type 1,type 2,hp,attack,defense,special attack,special defense,speed,generation,legendary,total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,600
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,700
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,600
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,680
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,600

 ## Question 11 and 12 are reflected on DF above

In [82]:
pokemon['attack_defense'] = pokemon['attack']-pokemon['defense']

In [83]:
pokemon['sp. atk diff'] = pokemon['sp. atk'] - pokemon['sp. def']

In [85]:
pokemon['attack_defense'].max()

160

In [86]:
pokemon['sp. atk diff'].max()

160

In [87]:
attackvdefense = pokemon[pokemon['attack_defense'] == 160]
attackvdefense

,#,name,type 1,type 2,hp,attack,defense,sp. atk,sp. def,speed,generation,legendary,total,attack_defense,sp. atk diff
429,386,DeoxysAttack Forme,Psychic,NaN,50,180,20,180,20,150,3,True,600,160,160

In [88]:
spattackvspdefense = pokemon[pokemon['sp. atk diff'] == 160]
spattackvspdefense

,#,name,type 1,type 2,hp,attack,defense,sp. atk,sp. def,speed,generation,legendary,total,attack_defense,sp. atk diff
429,386,DeoxysAttack Forme,Psychic,NaN,50,180,20,180,20,150,3,True,600,160,160

 ## Question 13: Deoxys has the greatest difference in
 ## attack and defense and sp. attack and sp. defense

In [89]:

Rock_and_Fairy = pokemon[(pokemon['type 1'] == 'Rock') & \
                        (pokemon['type 2'] == 'Fairy')]

In [90]:
Rock_and_Fairy['#'].nunique()

2

## Question 14: there are 2 pokemon with Type 1 Rock
## and Type 2 Fairy

In [93]:
alphapoke = pokemon.sort_values('name')

In [94]:
alphapoke.tail()

,#,name,type 1,type 2,hp,attack,defense,sp. atk,sp. def,speed,generation,legendary,total,attack_defense,sp. atk diff
632,571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False,510,45,60
631,570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False,330,25,40
46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False,245,10,-10
695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False,420,15,-5
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True,600,-21,-14

## Question 15: Zygarde50% Forme is the pokemon
## that appears last alphabetically